@page "/settings"
@using Pomodoro.Components.Layout
@using Pomodoro.Components.Pages.SmallComponents
@using Pomodoro.Entities
@using Pomodoro.Services
@inject PomodoroTimer pomodoroTimer

<div class="container mt-5">
    <div class="row">
        <div class="col text-center">
            <i class="bi bi-plus-circle-fill custom-icon" @onclick="IncreaseProduction"></i>
            <div class="square-col">
                <p>@ProductionTime</p>
            </div>
            <i class="bi bi-dash-circle-fill custom-icon" @onclick="DecreaseProduction"></i>
        </div>
        <div class="col text-center">
            <i class="bi bi-plus-circle-fill custom-icon" @onclick="IncreaseShortPause"></i>
            <div class="square-col">
                <p>@ShortPauseTime</p>
            </div>
            <i class="bi bi-dash-circle-fill custom-icon" @onclick="DecreaseShortPause"></i>
        </div>
        <div class="col text-center">
            <i class="bi bi-plus-circle-fill custom-icon" @onclick="IncreaseLongPause"></i>
            <div class="square-col">
                <p>@LongPauseTime</p>
            </div>
            <i class="bi bi-dash-circle-fill custom-icon" @onclick="DecreaseLongPause"></i>
        </div>
    </div>
    <div class="row">
        <div class="col sound-square" @onclick="() => {AppStyleConfig.SetDarkTheme(); NotifyChange.NavBarRefresh();}">
            <i class="bi bi-moon-fill moon-icon"></i>
        </div>
        <div class="col sound-square">
            <i class="bi bi-brightness-low-fill sun-icon" @onclick="() => {AppStyleConfig.SetLightTheme(); NotifyChange.NavBarRefresh();}"></i>
        </div>
    </div>
</div>


<style>
    .square-col {
        font-size: 45px;
        text-align: center;
        background: rgba(0,0,0,0.3);
        border: 2px solid rgba(0,0,0,0.3);
        border-radius: 5px;
        color: @AppStyleConfig.CurrentThemeItems;
        margin-left: 5px;
        margin-right: 5px;
    }

    .custom-icon {
        color: @AppStyleConfig.CurrentThemeItems;
        font-size: 35px;
        margin-top: 7px;
        margin-bottom: 7px;
    }

    .theme-container {
        margin-left: 15px;
        margin-right: 15px;
        background: rgba(0,0,0,0.3);
        border: 2px solid rgba(0,0,0,0.3);
        border-radius: 5px;
    }

    .sound-square {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 140px;
        height: 170px;
        background: rgba(0,0,0,0.3);
        border: 2px solid rgba(0,0,0,0.3);
        border-radius: 5px;
        margin: 15px;
    }

    .sun-icon {
        font-size: 120px;
        color: @AppStyleConfig.GetSunColor();
    }

    .moon-icon {
        font-size: 80px;
        color: @AppStyleConfig.GetMoonColor();
    }

    html, body {
        background-color: @AppStyleConfig.CurrentThemeBackground !important;
    }
</style>

@code{
    private int ProductionTime = Preferences.Get("Production", PomodoroTimer.ProductionLength);

    private int ShortPauseTime = Preferences.Get("ShortPause", PomodoroTimer.ShortPauseLength);

    private int LongPauseTime = Preferences.Get("LongPause", PomodoroTimer.LongPauseLength);

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    private void IncreaseProduction()
    {
        if (ProductionTime + 1 < 100)
        {
            ProductionTime++;
            Preferences.Set("Production", ProductionTime);
        }
    }

    private void DecreaseProduction()
    {
        if (ProductionTime - 1 > 0)
        {
            ProductionTime--;
            Preferences.Set("Production", ProductionTime);
        }
    }

    private void IncreaseShortPause()
    {
        if (ShortPauseTime + 1 < 100)
        {
            ShortPauseTime++;
            Preferences.Set("ShortPause", ShortPauseTime);
        }
    }

    private void DecreaseShortPause()
    {
        if (ShortPauseTime - 1 > 0)
        {
            ShortPauseTime--;
            Preferences.Set("ShortPause", ShortPauseTime);
        }
    }

    private void IncreaseLongPause()
    {
        if (LongPauseTime + 1 < 100)
        {
            LongPauseTime++;
            Preferences.Set("LongPause", LongPauseTime);
        }
    }

    private void DecreaseLongPause()
    {
        if (LongPauseTime - 1 > 0)
        {
            LongPauseTime--;
            Preferences.Set("LongPause", LongPauseTime);
        }
    }
}


