@page "/"
@using System.Timers
@using Pomodoro.Entities
@using Pomodoro.Components.Pages.SmallComponents
@inject PomodoroTimer pomodoroTimer

<h1>@pomodoroTimer.FormattedTime</h1>
<button class="btn btn-warning" @onclick="@pomodoroTimer.Break">BREAK</button>
<button class="btn btn-primary" @onclick="@pomodoroTimer.Start">START</button>
<button class="btn btn-secondary" @onclick="@pomodoroTimer.SetProduction">PRODUCTION</button>
<button class="btn btn-secondary" @onclick="@pomodoroTimer.SetShortPause">SHORT PAUSE</button>
<button class="btn btn-secondary" @onclick="@pomodoroTimer.SetLongPause">LONG PAUSE</button>
<TimerComplete></TimerComplete> 

@code {
    public bool IsShowing;
    
    protected override void OnInitialized()
    {
        base.OnInitialized();
        pomodoroTimer.OnTimeChanged += UpdateUI;
    }
    private void UpdateUI()
    {
        InvokeAsync(StateHasChanged);
    }
}